* {
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('hosp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.pic{
    height:200px;
    width:400px;
}
.nav-bar {
    background-color: #050505;
    color: #fff;
    padding: 15px 0;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-bar ul li {
    font-size: 18px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #dfdfdf;
    font-size: 20px;
}

.nav-bar ul li a:hover {
    color: #f91b1b;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.form {
    background-color: rgba(25, 232, 149, 0.8);
    border: 2px solid #000;
    border-radius: 10px;
    padding: 65px;
    width: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.data {
    display: flex;
    flex-direction: column;
}

.info label {
    font-size: 18px;
    display: block;
    margin-top: 20px;
}

.info input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #3616d5;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d45620;
}
